data
evidencias
**/bin
**/obj
**/.venv
**/venv
**/__pycache__
**/.ipynb_checkpoints
**/*.zip
**/.env
**/.env.*
!**/.env.example
**/.git
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
.git
